In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Cars93.csv')

In [3]:
# select variables

In [4]:
df1 = df[['MPG.city','Cylinders','EngineSize','Horsepower','RPM','Passengers','Weight']]
df1[:5]

   MPG.city Cylinders  EngineSize  Horsepower   RPM  Passengers  Weight
0        25         4         1.8         140  6300           5    2705
1        18         6         3.2         200  5500           5    3560
2        20         6         2.8         172  5500           5    3375
3        19         6         2.8         172  5500           6    3405
4        22         4         3.5         208  5700           4    3640

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 7 columns):
MPG.city      93 non-null int64
Cylinders     93 non-null object
EngineSize    93 non-null float64
Horsepower    93 non-null int64
RPM           93 non-null int64
Passengers    93 non-null int64
Weight        93 non-null int64
dtypes: float64(1), int64(5), object(1)
memory usage: 5.2+ KB

In [6]:
# Cylinders is not numeric

In [7]:
df1.Cylinders.unique()

array(['4', '6', '8', '3', 'rotary', '5'], dtype=object)

In [8]:
pd.value_counts(df1.Cylinders)

4         49
6         31
8          7
3          3
5          2
rotary     1
Name: Cylinders, dtype: int64

In [9]:
df[df.Cylinders == 'rotary']

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
56,Mazda,RX-7,Sporty,32.5,32.5,32.5,17,25,Driver only,Rear,...,2,169,96,69,37,NaN,NaN,2895,non-USA,Mazda RX-7

In [10]:
# remove Mazda RX-7

In [11]:
df2 = df1.copy()

In [12]:
df3 = df2.drop(df2.index[56])

In [13]:
df3.iloc[52:58,]

    MPG.city Cylinders  EngineSize  Horsepower   RPM  Passengers  Weight
52        29         4         1.6          82  5000           4    2325
53        28         4         1.8         103  5500           5    2440
54        26         4         2.5         164  5600           5    2970
55        18         6         3.0         155  5000           7    3735
57        20         4         2.3         130  5100           5    2920
58        19         6         3.2         217  5500           5    3525

In [14]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 0 to 92
Data columns (total 7 columns):
MPG.city      92 non-null int64
Cylinders     92 non-null object
EngineSize    92 non-null float64
Horsepower    92 non-null int64
RPM           92 non-null int64
Passengers    92 non-null int64
Weight        92 non-null int64
dtypes: float64(1), int64(5), object(1)
memory usage: 5.8+ KB

In [15]:
# change Cylinders to numeric

In [16]:
df3.Cylinders = df3.Cylinders.astype('int64')

In [17]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 0 to 92
Data columns (total 7 columns):
MPG.city      92 non-null int64
Cylinders     92 non-null int64
EngineSize    92 non-null float64
Horsepower    92 non-null int64
RPM           92 non-null int64
Passengers    92 non-null int64
Weight        92 non-null int64
dtypes: float64(1), int64(6)
memory usage: 5.8 KB

In [18]:
# correlations

In [19]:
df3.corr()

,MPG.city,Cylinders,EngineSize,Horsepower,RPM,Passengers,Weight
MPG.city,1.000000,-0.687222,-0.734536,-0.670457,0.395603,-0.473828,-0.850998
Cylinders,-0.687222,1.000000,0.890732,0.794648,-0.396617,0.308475,0.794336
EngineSize,-0.734536,0.890732,1.000000,0.790067,-0.535751,0.350297,0.849277
Horsepower,-0.670457,0.794648,0.790067,1.000000,-0.011519,0.084771,0.765391
RPM,0.395603,-0.396617,-0.535751,-0.011519,1.000000,-0.431406,-0.431383
Passengers,-0.473828,0.308475,0.350297,0.084771,-0.431406,1.000000,0.572140
Weight,-0.850998,0.794336,0.849277,0.765391,-0.431383,0.572140,1.000000